#eg1{
	width:200px;
	height:200px;
	background-color:lightblue;
	border:2px solid black;
	margin:auto;
}
#eg2{
	 margin:36%;
	text-align:center;
	color:purple;
}

/*  your css code here. If applicable */
